
@{
    ViewData["Title"] = "Add Cashier";
}

@model CashierModel
@{ Layout = "_Layout"; ViewBag.Title = "Add Cashier";}

<header class="container thead-dark card-header">
    <h2 style="font-family: 'Special Elite', cursive;"><b>Add Cashier</b></h2>
    <span class="badge bg-danger float-end">
        <a class="nav-link text-light" asp-area="" asp-controller="Cashier" asp-action="Index">BACK</a>
    </span>
</header>
<br />

<div class="container card-text justify-content-center" style="max-width: 36rem; margin: 0 auto" ;>
    <div>
        <div class="card-body">
            <form asp-action="AddCashier" method="post">
                <div class="form-group">
                    <label asp-for="CashierId"></label>
                    <input type="number" class="form-control" asp-for="CashierId" />
                    <span asp-validation-for="CashierId"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CashierName"></label>
                    <input class="form-control" asp-for="CashierName" />
                    <span asp-validation-for="CashierName"></span>
                </div>
                <br />
                <div class="text-center panel-body">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model != null)
{
    <h3> Task Completed</h3>
    @*<h2>Cashier</h2>
        <table class="table table-secondary">
            <thead>
                <tr>
                    <th>Cashier ID</th>
                    <th>Cashier Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.CashierId</td>
                    <td>@Model.CashierName</td>
                </tr>
            </tbody>
        </table>*@
}
