
@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<CashierModel>
@{ Layout = "_Layout"; ViewBag.Title = "All Cashiers";}

<header class="container thead-dark card-header">
    <h2 style="font-family: 'Special Elite', cursive;"><b>Cashier Details</b></h2>
    <span class="badge bg-danger float-end">
        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Admin">BACK</a>
    </span>
</header>
<br />
<a asp-action="AddCashier" class="btn btn-outline-primary">Add Cashier</a>
<a asp-action="GetCashierById" class="btn btn-outline-primary">Get Cashier By ID</a>
<br />
<br />

<table class="table table-secondary">
    <thead>
        <tr>
            <th>Cashier ID</th>
            <th>Cashier Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.CashierId</td>
                <td>@r.CashierName</td>

                <td>
                    <a asp-action="UpdateCashierPatch" asp-route-id="@r.CashierId">
                        UPDATE
                    </a>
                </td>
                <td>
                    <form asp-action="DeleteCashier" method="post">
                        <input type="hidden" value="@r.CashierId" name="Id" />
                        <input type="image" src="https://www.freeiconspng.com/thumbs/close-icon/close-icon-30.png" height="10" width="10" />
                    </form>


                </td>
            </tr>
        }
    </tbody>
</table>
