
@{
    ViewData["Title"] = "UpdateGradePatch";
}

@model GradeModel
@{ Layout = "_Layout"; ViewBag.Title = "Update a Grade";}

<header class="container thead-dark card-header">
    <h2 style="font-family: 'Special Elite', cursive;"><b>Update Grade Details</b></h2>
    <span class="badge bg-danger float-end">
        <a class="nav-link text-light" asp-area="" asp-controller="Grade" asp-action="Index">BACK</a>
    </span>
</header>
<br />

<div class="container card-text justify-content-center" style="max-width: 36rem; margin: 0 auto" ;>
    <div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label asp-for="GradeId"></label>
                    <input class="form-control" asp-for="GradeId" />
                    <span asp-validation-for="GradeId"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentId"></label>
                    <input class="form-control" asp-for="StudentId" />
                    <span asp-validation-for="StudentId"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GradeName"></label>
                    <input class="form-control" asp-for="GradeName" />
                    <span asp-validation-for="GradeName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input class="form-control" asp-for="Description" />
                    <span asp-validation-for="Description"></span>
                </div>
                <br />
                <div class="text-center panel-body">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>


@if (Model != null)
{
    <h3> Task Completed</h3>
}
